* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
    width:100%;

}

body {
  font-family: "Suez One", serif;
  color: $cream;
  height: 100%;
  background-color: darkGreen;
}
#root{
  height: 100%;
}

a { 
 color: $cream;
 text-decoration: none;
}

