

.resultsContainer { 
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 900px;
    max-width:1400px;
    margin:auto;

}
.result {
    background: $orange;
    margin:10px;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width:400px;

    img {
        margin:auto;
        max-height:260px;
        max-width:300px;
        padding:10px 0
    }
 
    h2{
        color:green;
    }
 
    h3{
        color:bisque;
    }

    h4 {color:bisque;}
}

.seenSince { 
    text-align: center;
    color:$cream;
    font-size: 25px;
    margin:40px auto 10px;
    
}


.resultFavorite {
    color: green; 
    margin-top:10px;
}