

.resultsContainer { 
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
    max-width:1400px;
    width:95%;
    margin:auto;
}
.result {
    background: $orange;
    margin:10px;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position:relative;

    width:400px;

    img {
        margin:auto;
        max-height:260px;
        max-width:300px;
        padding:10px 0
    }
 
    h2{
        color:green;  
        margin: 5px auto;
        width: 300px;

    }
    // h2:hover {
    //     color: rgb(5, 158, 5);
    // }
 
    h3{
        color:bisque;
    }
    // h3:hover{
    //     color:rgb(255, 238, 217);
    // }

    h4 {color:bisque;}
}

.resultLink :hover {
    h2 {
        color: rgb(18, 93, 18);
        
    }
    h3{
        color:rgb(255, 238, 217);
    }
}

.seenSince { 
    text-align: center;
    color:$cream;
    font-size: 20px;
    margin:40px auto 10px;
    
}


.fav-heart {
    position:absolute; 
    top: 10px;
    right: 15px;
    
    
}

.fav-active {
    color:red
}

.fav-removed {
    display:none}

// .resultFavorite:hover {
//     color: darkgreen; 
//     margin-top:10px;
// }